<main class="page-container">
  <h1>Login</h1>
  <form [formGroup]="form" class="form-container" (ngSubmit)="this.onSubmit()">
    <div class="inputs">
      <mat-form-field class="input-container">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="John Dere"
          required
          type="text"
          autocomplete="off"
          formControlName="name"
        />
      </mat-form-field>

      <mat-form-field class="input-container">
        <mat-label>Surname</mat-label>
        <input
          matInput
          placeholder="Dere"
          required
          type="text"
          autocomplete="off"
          formControlName="surname"
        />
      </mat-form-field>

      <mat-form-field class="input-container">
        <mat-label>Address</mat-label>
        <input
          matInput
          required
          type="text"
          autocomplete="off"
          formControlName="address"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Favorite Genre</mat-label>
        <mat-select formControlName="favouriteGenre">
          <mat-option
            *ngFor="
              let genre of [
                'Action',
                'Adventure',
                'Romance',
                'Horror',
                'Thriller'
              ]
            "
            [value]="genre"
          >
            {{ genre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input-container">
        <mat-label>Phone</mat-label>
        <input
          matInput
          required
          type="text"
          autocomplete="off"
          formControlName="phone"
        />
      </mat-form-field>

      <mat-form-field class="input-container">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="example@email.com"
          required
          type="email"
          autocomplete="off"
          formControlName="email"
        />
      </mat-form-field>
    </div>
    <div class="actions">
      <button
        type="submit"
        mat-button
        style="background-color: var(--primary-color); color: white"
      >
        Update
      </button>
    </div>
  </form>
</main>
