<main class="page-container">
  <h1 class="page-title">Catalog</h1>
  <section class="catalog">
    <div class="filters-container"></div>
    <div class="books-list">
      <div class="card" *ngFor="let book of books$ | async; trackBy: identify">
        <div class="book-header">
          <div class="meta">
            <span class="date">{{ book.datePublished }}</span>
            <span class="pages">{{ book.pages }} Pages</span>
          </div>
          <h3 class="title">{{ book.title }}</h3>
          <div class="info">
            <span class="genre">Genre: {{ book.genre }}</span>
            <span class="dot">&#x2022;</span>
            <span class="publisher">Publisher: {{ book.publisher }}</span>
            <span class="rating">{{ getAverageRating(book.ratings) }} ★</span>
          </div>
        </div>
        <div class="footer">
          <span class="price">${{ book.price }}</span>
          <div class="actions" *ngIf="this.user != null">
            <ng-container *ngIf="orders$ | async as orders">
              <button
                class="rate"
                (click)="this.onRateClick(book.id)"
                type="button"
                [disabled]="isRatingDisabled(book, orders)"
              >
                {{ getRateButtonText(book.ratings) }}
              </button>
              <button
                class="reserve"
                type="button"
                (click)="this.onReserve(book.id)"
                [disabled]="this.hasReserved(orders, book)"
              >
                {{ this.hasReserved(orders, book) ? "Reserved" : "Reserve" }}
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
